<!DOCTYPE html>
<html>
<head>
    <title>登录测试</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/styles/login_style.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/bootstrap.min.css">
</head>
<body>
<div class="container title1">登录测试</div>
<div class="container form1">
    <form action="" class="form-horizontal" method="POST" onsubmit="return validate_form(this)">
        <div class="form-group">
            <label for="inputName" class="col-sm-3 control-label">名字：</label>
            <div class="col-sm-7">
                <input type="text" name="inputName" id="inputName" value="" placeholder="用户名" class="form-control" />
            </div>
            <div id="VaildName" class="col-sm-2"></div>
        </div>
        <div class="form-group">
            <label for="inputPsw" class="col-sm-3 control-label">密码：</label>
            <div class="col-sm-7">
                <input type="password" name="inputPsw" id="inputPsw" value="" placeholder="密码" class="form-control">
            </div>
            <div id="VaildPsw" class="col-sm-2"></div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-5">
                <button type="submit" class="btn btn-default">登录</button>
                <button type="button" class="btn btn-default" onclick="window.location.href='/Reg'">注册</button>
                <button type="button" class="btn btn-default" name="{{info['m_name']}}" id="m_id" onclick="window.location.href='/Success/'">登录成功</button>
            </div>
            <div class="col-sm-4"><div class="info_message">{{ info['message_l'] }}</div></div>
        </div>
    </form>
</div>
<script src="../static/js/login_js.js" type="text/javascript"></script>
</body>
</html>