*{
    font-family: "微软雅黑";
}
.title1{
    font-size: 3em;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}
#VaildName, #VaildPsw, #VaildPsw2, #VaildEmail, #VaildTel {
    color: red;
    font-size: 12px;
}

.info_message{
    padding-top: 1em;
    color: gray;
}